<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>SalaSport</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletFintessTracker</display-name>
    <servlet-name>ServletFintessTracker</servlet-name>
    <servlet-class>sala.ServletFintessTracker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFintessTracker</servlet-name>
    <url-pattern>/ServletFintessTracker</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFitnessTracker</display-name>
    <servlet-name>ServletFitnessTracker</servlet-name>
    <servlet-class>sala.ServletFitnessTracker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFitnessTracker</servlet-name>
    <url-pattern>/ServletFitnessTracker</url-pattern>
  </servlet-mapping>
</web-app>